body{
    font-family: arial;
    max-width: 650px;
    /* border: 0.5px solid red; */
    margin: 0px auto;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    color: black;
    min-height: 100vh;
    /* margin-top: 30px; */
}

h1{
    font-size: 50px;
}

.header a{
    color: #888888;
    text-decoration: none;
    /* border: 5px solid red; */
    padding: 0px 4px;
}

img{
    width: 250px;
    /* height: 200px; */
}


#check{
    color: red;
}

.main-content{
    /* border: 0.5px solid black; */
    padding-top: 16px;
    flex-grow: 1;
    margin-top: 16px;
}

input{
    padding: 8px;
    border: 1px solid #cccccc;
}

button{
    background: #888888;
    color: white;
    padding: 8px;
    cursor: pointer;
    border: 1px solid;
}

#footer{
    border-top: 0.5px solid #888888;
    padding-top: 16px;
    color: #888888;
}