<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="./img/weather.png">
    </head>
    <body>
        {{>header}}
        <div class = 'main-content'>
            <img src="./img/robot.png" alt="100">
            <p>
                you can use {{ title }} to check weather of any city!
            </p>
        </div>
        
        {{>footer}}
    </body>
    <script src='./js/app.js'></script>
</html>